body {
    background-color: #DC143C; 
    color: White;
    font-family: "Arial", serif;
    font-weight: 300; /* Light */
}

a:link
{
    color:white; 
}

a:visited
{
    color:azure;
}

a:hover 
{
    color:cornsilk; 
}
