@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: White; 
    color: Black; /* #DCDCDC also good */
    font-family: "Roboto", sans-serif;
    font-weight: 150; /* Light */
	margin: 0;
}

a:link
{
    color:Black; 
}

a:visited
{
    color:DarkSlateBlue;
}

a:hover 
{
    color:DarkGrey; 
}

.nerfdir { /* Legacy */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusts dynamically */
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.nerf { /* Legacy */
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 200px;
    height: 225px;
}

.nerf img { /* Legacy */
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0%;
}

.nerf .nerfrole { /* Legacy */
    margin-top: 10px;
    font-size: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    background: #1F1F1F;
    padding: 12px 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.navbar a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-family: "Segoe UI", sans-serif;
}

.navbar p {
	margin: 0 10px;
	color: white;
	font-family: "Segoe UI", sans-serif;
}

.navbar h1 {
    margin: 0 20px 0 0;
    color: white;
    font-family: "Segoe UI", sans-serif;
}

.circle-pic img {
	border-radius: 50%;
}