<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>LJ9859 - Sample Title</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  </head>
  <body>
	<div class="navbar">
		<h1>LJ9859</h1> 
		<a href="/index.html">Home</a> 
		<a href="/pages/software.html">Software</a>
		<a href="https://www.github.com/LJ9859/Malware-Database">Malware</a> 
		<a href="/pages/contact.html">Projects</a>
		<a href="/pages/contact.html">Contact</a>
		<a href="/pages/about.html">About</a> <!-- Include inspirations such as eric parker, endermanch, reign i, etc here --!>
	</div>
	<div class="page-center">
		<h1>Sample Header</h1>
		<p>Sample Paragraph</p>
		<a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">Sample Link</a>
  </body>
</html>
