<html>
  <head>
    <link rel="stylesheet" href="../css/style.css">
    <title>Website Title</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  </head>
  <body>
    <center>
        <a href="/index.html">Home</a>
        <br>
        <h2>Page Title</h2>
          <h3>Page Subtitle</h3>
            <p>Body Text</p> 
            <!-- Comment mark, by the way make sure this page is in lj9859.github.io/pages for the favicon to work properly. -->
    </center>
  </body>
</html>
